<h1 style="text-align: center;">Slider After / Before</h1>
  <div id="afterbefore1"></div>

<script>
  window.onload = function() {
    new SliderBar({
      el: "#afterbefore1",
      beforeImg: '/assets/img/sankeo-plan-before-2023.webp',
      afterImg: '/assets/img/sankeo-plan-after-2024.webp',
      width: "90%",
      height: "400px",
      line: false
    });
    // new SliderBar({
    //   el: "#slider2",
    //   beforeImg: '/assets/img/before.jpg',
    //   afterImg: '/assets/img/after.jpg',
    //   width: "70%",
    // })
  }
</script>
