.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-container .slider-wrap {
  position: relative;
  height: 100%;
}

.slider-container .slider-wrap img {
  display: block;
  height: 100%;
  user-select: none;
}

.slider-container .slider-wrap .before-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.slider-container .slider-wrap .slider-btn {
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(37, 166, 200, .5); /* replaced $mainColor with its value */
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  cursor: ew-resize;
}

.slider-container .slider-wrap .slider-btn::after {
  width: 50px;
  height: 50px;
  background-color: rgba(37, 166, 200, .5); /* replaced $mainColor with its value */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* content: '< >'; */
  content: '\f07e';
  color: white;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #000;
  transition: all .3s ease;
}

.slider-container .slider-wrap .slider-btn:hover::after {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
}
