/*
 ***************
 * After-Before
 ***************
 */

/* Styles pour l'effet Avant/Après */
.after-before-container {
    position: relative;
    overflow: hidden; /* Masquer le débordement des images */
    padding-top: 0; /* Ratio 16/9 (pour 16:9) ou 2.67rem pour 3/2 */
    width: 100%;
    z-index: 2;
}

.after-before-container img {
    position: relative;
    top: 50%;
    left: 0;
    max-width: 100%; /* Limite la largeur de l'image à la largeur du conteneur parent */
    max-height: 560px; /* Limite la hauteur de l'image à la hauteur du conteneur parent */
    object-fit: cover; /* Redimensionner l'image pour remplir le conteneur tout en conservant son ratio d'origine */
    transform: scale(2); /* Double la taille de l'image (ajustez selon vos besoins) */
    transition: opacity 0.3s ease-in-out; /* Transition en douceur pour l'effet Avant/Après */
    z-index: 1;
    display: flex; /* Activer le modèle d'affichage flex */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.after-before-container.draggable {
    cursor: grabbing; /* Curseur main */
}

.large-image-before {
    z-index: 2;
}
.large-image-after {
    margin-top: -560px;
    z-index: 3;
}

/* Styles pour les légendes "Avant" et "Après" */
.legend-before,
.legend-after {
    background-color: #25A7CB;
    border-radius: 0.375rem;
    color: #FFF; /* Couleur des légendes */
    font-size: 1rem; /* Taille de police des légendes */
    padding: 0.375rem 1rem;
    position: absolute;
    top: 50%; /* Centre les légendes verticalement */
    transition: left 0.3s ease-in-out; /* Transition en douceur pour le déplacement des légendes */
    transform: translateY(-50%); /* Centre parfaitement les légendes verticalement */
    z-index: 3;
}

.legend-before {
    right: calc(50% + 2rem); /* Position de la légende "Avant" avec un espacement d'environ 1rem à gauche */
}

.legend-after {
    left: calc(50% + 2rem); /* Position de la légende "Après" avec un espacement d'environ 1rem à droite */
}

/* Styles pour les boutons de zoom */
.zoom-buttons {
    position: absolute;
    /* bottom: 1rem; */
    top: 1.5rem;
    right: 2.5rem;
    z-index: 3;
}

.zoom-buttons button {
    background-color: #333;
    border: solid 2px #FFF;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    display: block; /* Afficher les boutons "Zoom In" et "Zoom Out" l'un en dessous de l'autre */
    margin-bottom: 0.5rem;
    height: 32px;
    width: 32px;
}

/* Styles pour le curseur */
.slider-container {
    position: absolute;
    top: 20%; /* Centre le curseur verticalement */
    left: 50%; /* Centre le curseur horizontalement */
    transform: translate(-50%, -50%); /* Centre parfaitement le curseur */
    cursor: pointer;
    z-index: 4; /* Ajout du z-index pour le curseur */
}

/* Styles pour le curseur */
.slider {
    font-size: 1.5rem;; /* Taille de l'icône du curseur */
    color: #fff; /* Couleur du curseur (blanc) */
    position: relative;
    transition: left 0.3s ease-in-out; /* Transition en douceur pour le déplacement du curseur */
    background-color: #25A7CB; /* Couleur de fond du cercle (bleu) */
    width: 3rem; /* Largeur du cercle */
    height: 3rem; /* Hauteur du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}
